.home_main {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
}
.home_main > div:nth-child(1) {
  width: 30%;
  height: 100%;
  border-right: 1px solid var(--border);
}
.home_main > div:nth-child(2) {
  width: 70%;
}
.prop_header {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  border-bottom: 1px solid var(--border);
}

.user_profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: gray;
  transition: 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.user_profile:hover {
  background: var(--hoverColor);
  cursor: pointer;
}
.more_setting {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 50%;
  transition: 0.3s ease;
  cursor: pointer;
}
.more_setting:hover {
  background: var(--hoverColor);
}
.home_right_img_section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.msg_user {
  height: calc(100vh - 70px);
  overflow: scroll;
  padding: 0;
  margin: 0;
}
.user_ul {
  list-style: none;
}
.user_ul li {
  padding: 30px;
  font-size: 17px;
  background: inherit;
  color: var(--foreground);
  border-bottom: 0.2px solid var(--border);
  transition: 0.3s ease;
}
.user_ul li:hover {
  background: var(--hoverColor);
  cursor: pointer;
}

.prof_sett_head {
  width: 100%;
  padding: 40px 0;
  margin-bottom: 30px;
  box-shadow: -3px -3px 5px black;
}
.prof_sett_head > span {
  color: var(--foreground);
  font-family: sans;
  font-weight: bolder;
  font-size: 20px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  transition: 0.3s ease;
}
.prof_sett_head span:hover {
  background: var(--hoverColor);
}
.chat_box {
  display: flex;
}
.current_chat_user_header {
  padding: 25px;
  border-bottom: 1px solid var(--border);
}
.chat_box_main {
  height: calc(100vh - 100px);
  padding: 30px;
  overflow: auto;
}
.user_info_close {
  cursor: pointer;
  color: red;
}
.profile_image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile_image > div {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: gray;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  transition: 1.4s ease;
}
.profile_img_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  transition: 0.7s ease;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.profile_image div:hover .user_img {
  opacity: 0.3;
}
.profile_image div:hover .profile_img_overlay {
  opacity: 1;
}
.profile_details {
  width: 100%;
  margin-top: 50px;
}
.user_details {
  list-style-type: none;
  width: 100%;
}
.user_details li {
  padding: 20px 0;
  display: flex;
  justify-content: center;
}
.profile_details_container {
  display: flex;
  align-items: center;
  width: 85%;
  position: relative;
}
.profile_details_container span:nth-child(1) {
  margin-right: 35px;
}
.profile_details_container span:nth-child(3) {
  position: absolute;
  top: 2px;
  right: 0;
  cursor: pointer;
}
.edit_det {
  width: 100%;
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.edit_btn {
  display: flex;
  width: 50%;
  padding: 8px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  gap: 3px;
  border-radius: 5px;
}
.material_inpt {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.material_inpt > input {
  padding: 7px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 5px #dfdcdc;
}
.setting_user_sec {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
  cursor: pointer;
  transition: 0.3s ease;
}
.setting_user_sec > div {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 85%;
}
.setting_user_sec:hover {
  background: var(--hoverColor);
}
.setting_user_container {
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: relative;
  border: 1px solid var(--border);
  border-radius: 50%;
}
.setting_other_sec {
  list-style-type: none;
  width: 100%;
  margin-top: 35px;
}
.setting_other_sec > li {
  width: 100%;
  display: flex;
  padding: 11px 0;
  justify-content: center;
  transition: 0.3s ease;
}
.setting_other_sec > li:hover {
  background: var(--hoverColor);
  cursor: pointer;
}
.setting_li_items {
  display: flex;
  width: 85%;
  align-items: center;
  gap: 20px;
}
.setting_user_details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Mobile */
@media (max-width: 700px) {
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
